/* Set Layout & Resets */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
	 margin: 0px;
	 height: 100%;
	 width: 100%;
 }
html {
	background-color: #000;
	padding: 0px;
	margin: 0px;
	font-family: helvetica-neue, helvetica, arial;
	height: 100%;
	width: 100%;
}
h1,h2,h3,h4,p,div {margin: 0px 0px;}
a {text-decoration: none;}

/* colors & states */
.green, .active {color: #00A786 !important;}
.bgBlue {color: #31485F !important;}
.darkBlue{color: #1C2B3B !important;}
.lightBlue {color:#4D6E8C !important;}
.offwhite {color: #92A6A7 !important;}
.red {color: #F9213E !important;}

/* doc css */
#doc {
	background-color: #31485F;
	padding: 10px 10px;
	height: 100%;
}
/* header */
#header {
	display: block;
	margin-bottom: 30px;
}
#header h3 {
	font-weight: 100;
	color: #4D6E8C;
	display: inline-block;
	font-size: 20px;
}
.icon-info-sign {
	float: right;
}
.icon-remove-sign {
	float: right;
}
/* main */
#main {
	margin-bottom: 40px;
}
#question {
	font-size: 36px;
	width: 330px;
	margin-bottom: 30px;
}

/* buttons */
#checkYes {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border: 8px solid #1C2B3B;
	border-radius: 80px;
	background-color: #00867A;
}
.icon-ok-btn {
	font-size: 50px;
	color: #fff;
	position: relative;
	top: 16px;
	left: 15px;
}
#checkNo {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 8px solid #1C2B3B;
	border-radius: 50px;
	background-color: #F9213E;
	z-index: -1;
	margin-top: -16px;
}
.icon-remove-btn {
	font-size: 26px;
	color: #fff;
	position: relative;
	top: 12px;
	left: 14px;
}
#streak {
	font-size: 14px;
	padding: 10px 0px;
}

/* calendar */

#calendar {
	height: 75px;
	border-top: 4px solid #1C2B3B;
}
#calendarList {
	list-style: none;
	height: inherit;
	padding: 0px;
	margin: 6px 0px;
}
#calendarList li {
	height: 60px;
	float: left;
	width: 17%;
	padding-left: 1%;
	padding-right: 1%;
	border-right: 2px solid #1C2B3B;
	color: #92A6A7;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
#calendarList li span {
	font-size: 14px;
}
#calendarList li:last-child {
	border: none;
}
